<h1>Words and definitions displayed</h1>

#foreach($definition in $definitions)
<ul>
  <li><h6>$definition.getPartOfSpeech</h6>: <h3>$definition.getDefinition()</h3></li>
#end
</ul>

<a href="/vocabWords/$vocabWord.getId()/definitions/new">Add a new definition</a>
<a href="/">Return to Main Page</a>

<footer>
  definitions.vtl
</footer>
