home.vtl

<h1>Create-a-dictionary</h1>

<p>Add a new Word:</p>

<form action="/vocabWords" method="post">
  <label for="vocabWord">Word</label>
  <input id="vocabWord" name="vocabWord" type="text" placeholder="Enter a new word">

  <button type="submit" class="btn btn-default">Add Word</button>
</form>
