home.vtl
<h3>Dictionary App</h3>

<!-- <a href="/categories">View Category List</a>
<a href="categories/new">Add a New Category</a> -->

<a href="/vocabWords">View Vocab Words</a>
<a href="vocabWords/new">Add a new vocab word</a>
