<h2>Add a Word</h2>

<ul>
  #foreach($vocabWord in $vocabWords)
    <li><h3><a href="/vocabWords/$vocabWord.getId()">$vocabWord.getName()</a></h3></li>
  #end
</ul>
<h5>Click on a word to view definition/s or add definition/s.</h5>
#end

<a href="/" type="button" class="btn btn-success" id="homeButton">Return to Main Page</a>
