category-form.vtl
<h1>Add a vocab word</h1>

<p>Add a vocab word here:</p>

<form action="/vocabWords" method="post">
  <label for="name">Vocab word</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn btn-success">Add Vocab Word</button>
</form>

<a href="/">Return to Main Page</a>
