<h3>Here are all the definitions for this vocab word:</h3>

#foreach($definition in $definitions)
  <h3>$definition.getDescription()</h3>
#end

<a href="/vocabWords/$vocabWord.getId()/definition/new">Add a new definition</a>
<a href="/vocabWords">Return to vocab word list</a>
<a href="/">Return to Main Page</a>
