word-form.vtl

<h1>Add a Word</h1>

<p>Add a word here:</p>

<form action="/vocabWords" method="post">
  <label for="vocabWords">Dictionary Term</label>
  <input type="text" name="vocabWords" id="vocabWords">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>

<a href="/">Return to Main Page</a>
